<footer class="bg-secondary text-white d-lg-flex">
    <div class="w-100 d-flex justify-content-center align-items-center bg-dark">
        <img src="{{url_for('static', filename='assets/footer.png')}}" alt="" class="img-fluid" />
    </div>
    <div class="w-100">
        <div class="row p-5 justify-content-center align-items-start">
            <div class="col-lg-6">
                <h6 class="fw-semibold fs-6">
                    Contact Us
                </h6>
                <ul class="list-unstyled px-3">
                    <li>
                        <a href="tel:+919625362621" class="text-white small text-decoration-none fw-light"
                           target="main">
                            <i class="bi bi-telephone-fill m-2"></i> +91 9625362621
                        </a>
                    </li>
                    <li>
                        <a href="mailto:nkca122@gmail.com" class="text-white small text-decoration-none fw-light"
                           target="main">
                            <i class="bi bi-envelope-at-fill m-2"></i> nkca122@gmail.com
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <h6 class="fw-semibold fs-6">
                    Read More
                </h6>
                <ul class="list-unstyled px-3">
                    <li>
                        <a href="https://www.linkedin.com/in/nkca122/"
                           class="text-white small text-decoration-none fw-light" target="main">
                            <i class="bi bi-linkedin m-2"></i> linkedin.com/nkca122
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Nkca122"
                           class="text-white small text-decoration-none fw-light" target="main">
                            <i class="bi bi-github m-2"></i></i> github.com/Nkca122
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h6 class="fw-semibold fs-6">
                    Visit
                </h6>
                <ul class="list-unstyled px-3">
                    <li>
                        <a href="https://nkca122.vercel.app"
                           class="text-white small text-decoration-none fw-light" target="main">
                            <i class="bi bi-person-fill m-2"></i> Portfolio
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</footer>